<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kopo.poly.persistance.mapper.INoticeMapper">

    <select id="getNoticeList" resultType="NoticeDTO">
SELECT NOTICE_SEQ, TITLE, NOTICE_YN, READ_CNT, USER_ID,
       TO_CHAR(REG_DT, 'YYYY-MM-DD') AS REG_DT
FROM NOTICE
ORDER BY NOTICE_YN, REG_DT DESC

    </select>

    <insert id="insertNoticeInfo" parameterType="NoticeDTO">
        INSERT INTO NOTICE
(
 NOTICE_SEQ, TITLE, NOTICE_YN, CONTENTS, USER_ID, READ_CNT,
 REG_ID, REG_DT, CHG_ID, CHG_DT
)

VALUES (
       (SELECT NVL(MAX(A.NOTICE_SEQ),0)+1 FROM NOTICE A),
    #{title},#{notice_yn},#{contents},#{user_id},0,#{user_id},SYSDATE(), #{user_id},SYSDATE()
    )
    </insert>
    <select id="getNoticeInfo" resultType="NoticeDTO">
        SELECT NOTICE_SEQ, TITLE, NOTICE_YN, READ_CNT,USER_ID,
               CONTENTS, TO_CHAR(REG_DT, 'YYYY-MM-DD') AS REG_DT
FROM NOTICE
WHERE NOTICE_SEQ = #{notice_seq}
</select>
    <update id="updateNoticeReadCnt" parameterType="NoticeDTO">
        UPDATE NOTICE SET
                          READ_CNT = READ_CNT + 1
WHERE
    NOTICE_SEQ = #{notice_seq}

    </update>
    <update id="updateNoticeInfo" parameterType="NoticeDTO">
        UPDATE NOTICE SET
                          TITLE = #{title},
                          NOTICE_YN = #{notice_yn},
                          CONTENTS = #{contents},
                          CHG_ID = #{user_id},
                          CHG_DT = SYSDATE()
WHERE
    NOTICE_SEQ = #{notice_seq}
    </update>

</mapper>